<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.jleechanorg.ezgha-mission-output-cleanup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>@SCRIPTS_DIR@/cleanup-mission-output.sh</string>
        <string>--apply</string>
    </array>
    <key>WorkingDirectory</key>
    <string>@HOME@</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>@HOME@</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:@HOME@/.local/bin</string>
        <key>MIN_AGE_HOURS</key>
        <string>4</string>
    </dict>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>@HOME@/.local/state/ezgha/mission-output-cleanup-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>@HOME@/.local/state/ezgha/mission-output-cleanup-launchd.log</string>
    <key>ThrottleInterval</key>
    <integer>600</integer>
</dict>
</plist>
